html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  font-size: 1.75em;
}

.section {
  margin: 10%;
}

.text {
  font-weight: bold;
}

.intro-text {
  margin-top: 15%;
}

.anchor {
  color: steelblue;
  text-decoration: none;
}

.anchor:hover {
  color: lightsteelblue;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.project-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  font-size: 0.5em;
  background: rgba(70, 130, 180, 0.85);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.project:hover .project-info {
  visibility: visible;
  opacity: 1;
}

.project-image-wrapper {
  margin: 0;
}

.project-image {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 3em;
  }

  .intro-text {
    margin-top: 10%;
  }

  .project {
    width: 48%;
    margin: 1%;
  }
}
